.full-width {
    width: 100%;
    display: block;
    font-size: 14px;
  }
.mat-radio-button ~ .mat-radio-button {
    padding-right: 32px;
  }
.margin-class {
    margin-top: 90px
}  
.ctr{
  text-align: center;
}
.block {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}
.header{
  width:100%;
  min-height:70px;
  position:fixed;
  font-size: 20px;
  top:0;
  flex-wrap: wrap;
  z-index: 1000;
  box-sizing: border-box;
  background-color:rgb(62, 59, 224);
  color: rgb(255, 255, 255);
  display:flex;
}
*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
.dot-border {
  border: 1px ;
  border-radius: 5px;
}
.table-view {
  font-size: 10px;
  font-family: 'Georgia', 'Times New Roman', 'Times, serif'
}
